# This file is a mock .env file, having the same variable keys the .env file should have, but dummy values

DB_HOST = localhost
DB_NAME = database_name
DB_USER = myuser
DB_PASSWORD = my_password
DB_PORT = database_port